/* Maths Paradise Full CSS File */
background: var(--primary-black);
color: var(--primary-white);
padding: 18px;
font-size: 18px;
}


table td {
padding: 15px;
border-bottom: 1px solid #ccc;
font-size: 17px;
}


/* DIRECTORY */
#directory {
padding: 80px 60px;
background: var(--primary-white);
}


#directory h2 {
color: var(--primary-green);
font-size: 40px;
}


.student-list {
margin-top: 30px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}


.student-card {
padding: 20px;
background: var(--accent-grey);
border-left: 5px solid var(--primary-green);
border-radius: 10px;
}


/* ADMISSION BUTTON */
#admission {
padding: 100px 60px;
text-align: center;
background: var(--primary-black);
color: var(--primary-white);
}


#admission h2 {
font-size: 40px;
color: var(--primary-green);
}


.admission-btn {
margin-top: 30px;
padding: 18px 40px;
font-size: 22px;
background: var(--primary-red);
border-radius: 10px;
border: none;
color: var(--primary-white);
cursor: pointer;
transition: 0.3s;
}


.admission-btn:hover {
background: var(--primary-green);
}


/* FOOTER */
footer {
text-align: center;
padding: 30px;
background: var(--primary-black);
color: var(--primary-white);
}